* {
  margin: 0;
  padding: 0;
}

.contenedor .form .form-header .form-title {
  /*estilo primera letra del titulo */
  font-weight: normal;
  font-family: sans-serif;
  color: #70aff3;
  text-align: center;
  padding: 14px 0;
}
.contenedor .form .form-header .form-title span {
  /*estilo  del titulo */
  color: #333232;
}
.contenedor .form {
  /*estilo del contenedor general */
  background: #f1f1f1;
  width: 90%;
  max-width: 659px;
  margin: auto;
  padding: 5px 40px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.contenedor .form .form-label {
  /*estilo de label */
  display: block;
  color: #70aff3;
  font-size: 16px;
  font-family: Roboto;
  position: relative;
}
.contenedor .form .form-input,
.form-textarea {
  /*estilo de text area */
  background: #ffffff;
  border: none;
  outline: none;
  border-bottom: 2px solid#70aff3;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #333232;
  font-family: Roboto;
}

.contenedor .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.contenedor .form .btn-submit {
  /*estilo del boton sumbit */
  width: 100%;
  font-family: Roboto;
  outline: none;
  background: #70aff3;
  font-size: 16px;
  border: none;
  color: #333232;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contenedor .form .btn-submit:hover {
  /*cambia el color al poner el cursor encima */
  background: #70aff3;
}
