* {
	margin: 0;
	padding: 0;
  }
  
body{
	background-color: #f5f5f5;
	font-family: Arial;
}

#main-container {
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #70aff3 ;
	border-bottom: solid 5px #58a4f7;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tbody tr:hover th{
	background-color: #70caf3;
	color: white;
}